.t-heroes__dc--style {
  border: 2px solid rgba(1, 114, 239, 1);
}
.t-heroes__marvel--style {
  border: 2px solid rgba(240, 20, 30, 1);
}
.t-heroes__other--style {
  border: 2px solid rgba(250, 250, 150, 1);
}
.c-heroes-container {
  margin-top: 15em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.c-heroes {
  align-self: center;
  margin: 15px;
  height: auto;
  width: 350px;
  background-color: rgba(255,255,255,.7);
}
.c-edit-form {
  margin: auto;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.t-edit-input-field--style {
  border: 1px solid grey;
}
.t-heroes__image {
  height: 300px;
  width: 300px;
}
