.c-nav {
  position: absolute;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid blue;
}
.c-add-form {
  height: 50px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.c-search-options {
  height: 50px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.u-add-input-field--style {
  border: 1px solid black;
}

.u-search-input-field--style {
  
}
