.c-nav {
  position: absolute;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.t-border-bottom--gradient {
  border-bottom: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, blue 50%, red 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, blue 50%, red 100%);
    border-image: linear-gradient(to bottom right, blue 50%, red 100%);
    border-image-slice: 1;
}

.c-add-form {
  height: 50px;
  width: 100%;
  margin: auto;
}
.c-search-options {
  height: 50px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.t-add-input-field--style {
  border: 1px solid black;
}

.t-search-input-field--style {

}
