@import 'nav';
@import 'container';

$font-stack: 'Share Tech Mono', monospace;

html {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  "c-nav"
  "c-content";
  background: url('http://www.eliotrbrown.com/artwork/0007.jpg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
}

img {
  height: 300px;
  width: 300px;
}
div {
  text-align: center;
}
p, div {
  margin: auto;
  font: $font-stack;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
button {
  background-color: rgba(255, 208, 44, 1);
  height: 30px;
  width: 100px;
  margin: 15px auto;
  font-family: 'Share Tech Mono', monospace;
  transition-duration: 0.3s;
}
button:hover {
  background-color: white;
}

.dc {
  border: 2px solid rgba(1, 114, 239, 1);
}
.marvel {
  border: 2px solid rgba(240, 20, 30, 1);
}
