<!DOCTYPE html>
<html lang="en" ng-app="supersingleApp">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
</head>

<body ng-controller='supersingleCtrl as vm'>
  <nav class="c-nav">
    <form class="c-add-form">
      <p>Name: <input type="text" ng-model ='vm.newSuperSignalName'></p>
      <p>Phone number: <input type="text" ng-model ='vm.newSuperSignalPhone'></p>
      <p>Comic: <input type="text" ng-model ='vm.newSuperSignalComic'></p>
      <p>Photo: <input type="text" ng-model ='vm.newSuperSigalPhoto'></p>
        <button ng-click="vm.addSuperSignal()">Add New Hero</buton>
    </form>

    <div class="c-search-options">
      <div class="c-search-field">
        <input type="text" ng-model='signal' class="c-search-field__text" placeholder="Search">
      </div>
      <div class="c-limit-field">
        <input type="number" ng-model='numLimit' class="c-limit-field__text" placeholder="Heroes Per Page">
      </div>
    </div>
  </nav>

  <div class="heroes_container">
    <div class="heroes" ng-repeat='supersignal in vm.supersignals | filter: signal | limitTo: numLimit' ng-class="{'dc': supersignal.comic == 'DC', 'marvel': supersignal.comic == 'Marvel'}">

      <button ng-click="show_photo = !show_photo">View Photo</button>
      <img ng-show="show_photo" src={{supersignal.photo}}>

      <button ng-click="edit = !edit">Edit</button>
      <form ng-show="edit" ng-submit="edit = false">
        <label>Name:</label>
        <input type="text" ng-model="supersignal.name" placeholder="Name" ng-required>
        <input type="text" ng-model="supersignal.phone_number" placeholder="Phone Number" ng-required>
        <input type="text" ng-model="supersignal.comic" placeholder="Comic" ng-required>
        <input type="text" ng-model="supersignal.photo" placeholder="Photo" ng-required>
        <br>
      <button type="submit">Save</button>
      </form>

      <h2> Hero: {{supersignal.name}} </h2>

      <h3> Phone Number: {{supersignal.phone_number}} </h3>

  </div>
</div>

  <script src="app.js"></script>
</body>
</html>
