body{
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}
nav {
  align-self: center;
  position: static;
  margin: 40px auto;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid blue;
}
img {
  height: 300px;
  width: 300px;
}
div {
  text-align: center;
}
p, div {
  margin: auto;
  font-family: 'Share Tech Mono', monospace;
}
button {
  background-color: rgba(255, 208, 44, 1);
  height: 30px;
  width: 100px;
  margin: 15px auto;
  font-family: 'Share Tech Mono', monospace;
  transition-duration: 0.3s;
}
button:hover {
  background-color: white;
}
.heroes_container, .limit_features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.heroes {
  align-self: center;
  margin: 15px;
  height: auto;
  width: 350px;
}
.new_super, .search_bar, .limit_bar {
  margin: 20px auto;
  text-align: center;
}
.dc {
  border: 2px solid rgba(1, 114, 239, 1);
}
.marvel {
  border: 2px solid rgba(240, 20, 30, 1);
}
